{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <!-- <div class="col-lg-9 col-xl-8 text-center"> -->
      <!-- <p class="lead">{{ .Params.lead | safeHTML }}</p> -->
      <!-- <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/example-guide/" role="button">{{ i18n "get_started" }}</a> -->
      <!-- {{ .Content }} -->
    <!-- </div> -->
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "German" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <p>
          Auf dieser Website findest du Materialien für den Mathematikunterricht in der Höheren Berufsfachschule an der BBS Lahnstein.
          <br />
          Die Materialien sind nach Bildungsgängen bzw. Jahrgängen sowie Themen geordnet.
        </p>
        <p>Viel Spaß beim Stöbern!</p>
        <p></p>
        {{ if site.Params.doks.backgroundDots -}}
        <div class="d-flex justify-content-start">
          <div class="bg-dots"></div>
        </div>
      {{ end -}}
        <div class="col-lg-3">
          <!-- <h4 class="h4">Update content</h4> -->
          <a class="btn btn-primary btn-cta rounded-pill btn-md my-3" href="/hbf1/0-organisatorisches/themenübersicht-unterstufe/" role="button"> HBF Unterstufe </a>
        </div>
        <div class="col-lg-3">
          <a class="btn btn-primary btn-cta rounded-pill btn-md my-3" href="/hbf2/0-organisatorisches/themenübersicht-oberstufe/" role="button"> HBF Oberstufe </a>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      {{ .Content }}
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
