<figure>
  {{- $u := urls.Parse (.Get "src") -}}
  {{- $src := $u.String -}}
  {{- if not $u.IsAbs -}}
    {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
      {{- $src = .RelPermalink -}}
    {{- end -}}
  {{- end -}}

  <img src="{{ $src }}"
    {{- if (.Get "caption") }}
      alt="{{ .Get "caption" | markdownify| plainify }}"
    {{- end -}}
  ><!-- Closing img tag -->
  {{- if .Get "link" }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
      {{- if (.Get "caption") -}}
        <p>Abb. 1: {{- .Get "caption" | markdownify -}}</p>
      {{- end }}
    </figcaption>
  {{- end }}
</figure>