{{ $u := urls.Parse (.Get "src") }}
{{ $src := $u.String }} <!-- src-Eintrag übernehmen für relativen Link -->
{{ $link := $.Page.Parent.RelPermalink }} <!-- erzeugt den Link zur übergeordneten Section -->
{{ $caption := $.Get "caption" }}
{{ .Page.Scratch.Add "imagecounter" 1 }}
<figure>
    {{ if $u.IsAbs }}
        {{ if hasSuffix (.Get "src") "svg" }}
            <img src="{{ $src }}" decoding="async" fetchpriority="auto" loading="lazy" alt="{{ $caption }}" class="markdown-svg">
        {{ else }}
            <img src="{{ $src }}" decoding="async" loading="lazy" alt="{{ $caption }}">
        {{ end }}
    {{ else }}
        {{ if hasSuffix (.Get "src") "svg" }}
            <img src="{{ $link }}{{ $src }}" decoding="async" fetchpriority="auto" loading="lazy" alt="{{ $caption }}" class="markdown-svg">
        {{ else }}
            <img src="{{ $link }}{{ $src }}" decoding="async" loading="lazy" alt="{{ $caption }}">
        {{ end }}
    {{ end }}
    {{ if .Get "caption" }}
        <figcaption>
            <p>Abb. {{ .Page.Scratch.Get "imagecounter" }}: {{ .Get "caption" }}</p>
        </figcaption>
    {{ end }}
</figure>