{{ $columns := "" }}
{{ if .Get "columns" | eq "3" }} <!-- Drei Spalten -->
  {{ $columns = "three-columns" }}
{{ else if .Get "columns" | eq "2" }} <!-- Zwei Spalten -->
  {{ $columns = "two-columns" }}
{{ else }} <!-- Eine Spalte -->
  {{ $columns = "one-column" }}
{{ end }}

<details class="solution">
  <summary>Lösungen</summary>
  {{ if .Get "numbered" | eq "true" }} <!-- Nummerierte Lösungen -->
    {{ if .Get "style" | eq "enum-alph" }} <!-- Alphabetische Nummerierung -->
      <div class="enum-alph {{ $columns }}">
    {{else}} <!-- Arabische Nummerierung -->
      <div class="enum-arabic {{ $columns }}">
    {{end}}
    {{ .Inner | strings.TrimSpace | .Page.RenderString }}
    </div>
  {{ else }} <!-- Unnummerierte Lösungen -->
    <p>{{ .Inner | strings.TrimSpace | .Page.RenderString }}</p>
  {{ end }}
</details>
