// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

// MAIN
:root {
    --primary-color: #405a94;
    --primary-color-transparent: #405a941a;
    --secondary-color: #f5a029;
    --secondary-color-transparent: #f5a0291a;
    --callout-caution: #f94449;
    --callout-caution-transparent: #f944495a;
    --callout-danger: #f94449;
    --callout-danger-transparent: #f944495a;
    --callout-example: #f5a029;
    --callout-example-transparent: #f5a0291a;
    --callout-important: #559d54;
    --callout-important-transparent: #7bce7a5a;
    --callout-job: #405a94;
    --callout-job-transparent: #405a941a;
    --callout-note: #405a94;
    --callout-note-transparent: #405a941a;
    --callout-tip: #f5a029;
    --callout-tip-transparent: #f5a0291a;
    --callout-question: #5191e0;
    --callout-question-transparent: #accbf055;
    --callout-bg: #f0f0f0;
    --lz-link-color-rgb: 245, 160, 41 !important;
    --lz-link-hover-color-rgb: var(--bs-body-color);
    --lz-body-line-height: 1.3;
    --lz-body-font-family: "Roboto Mono", monospace;
    // --lz-body-font-family: "Source Code Pro", monospace;
    --lz-body-font-weight: 200;
    --line-color: #e9ecef;
    // line-height: 1.2;
    --situation: #405a94;
    --szenario: #70aee0;
}

@include color-mode(dark) {
    --primary-color: var(--sl-color-text-accent);
    --sl-color-text-accent: #f5a029;

    h1, h2, h3 { /* Überschriften global */
        box-shadow: none;
        position: relative;
        width: 100%;
    }

    h2 .anchor {
        color: var(--secondary-color) !important;
    }

    h1:after, h2:after, h3:after {
        position: absolute;
        bottom: 0em;
        left: 0;
        content: "";
        height: 1px;
        background-color: var(--sl-color-gray-3);
        opacity: 0.75;
        position: absolute;
    }

    h1:after {
        width: 100%;
    }

    h2:after {
        width: 75%;
    }

    h3:after {
        width: 50%;
    }
}

// body {
//     counter-reset: jobs;
// }

@media (min-width: 768px) {
    body {
        font-size: 1rem;
    }
}

.geogebra-activity {
    border: 1px solid #e9ecef !important;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    background-color: white !important;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { /* Überschriften */
    color: var(--primary-color);
    padding-top: 0.5em;
    // font-family: "Source Code Pro", monospace;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

h2, .h2 {
    font-size: 1.75em;
    padding-top: 2em !important;
}

h3, .h3 {
    font-size: 1.5em;
}

h4, .h4 {
    font-size: 1.25em;
}

h1, h2, h3, h4 { /* Überschriften global */
    position: relative;
}

h1:after, h2:after, h3:after, h4:after {
    position: absolute;
    bottom: 0em;
    left: 0;
    content: "";
    height: 1px;
    background-color: var(--line-color);
    opacity: 0.75;
    position: absolute;
}

h1:after {
    width: 100%;
}

h2:after {
    width: 75%;
}

h3:after {
    width: 50%;
}

h4:after {
    width: 25%;
}

h1 + h2 {
    margin-top: 2em;
    padding-top: 0em !important;
}

main { /* Content-Bereich */
    min-height: 100vh !important;
}

.nav-item { /* Hauptnavigation */
    font-weight: 400;
}

.page-links h3 { /* Überschrift rechte Spalte */
    color: var(--lz-body-color);
    box-shadow: none;
}

.page-links a { /* Menü rechte Spalte */
    color: var(--lz-body-color);
    font-size: 0.8em;
    font-weight: 300;
}

.page-links a:hover, #toc a.active { /* Menü rechte Spalte */
    color: var(--secondary-color);
}

.breadcrumb { /* Brotkrumen-Navigation */
    font-size: 0.8em;
    font-weight: 300;
}

.breadcrumb a { /* Brotkrumen-Navigation */
    color: var(--primary-color);
}

.breadcrumb-item > * {
    text-transform: uppercase !important;
}

.breadcrumb-item.active { /* Brotkrumen-Navigation */
    color: var(--lz-body-color);
    text-transform: uppercase !important;
}

.breadcrumb a:hover { /* Brotkrumen-Navigation */
    color: var(--secondary-color);
}

.section-nav {
    padding-top: 1.65rem;
}

.section-nav summary { /* Menü linke Spalte */
    font-weight: 500;
    font-size: 0.9rem;
    width: 95% !important;
}

.section-nav > .list-unstyled > li, .section-nav details { /* Menü linke Spalte */
    margin-top: 0;
}

.section-nav a { /* Menü linke Spalte */
    font-size: 0.9rem;
}

.section-nav li:first-of-type a {
    padding-top: 0.25em;
}

.section-nav li:last-of-type a {
    padding-bottom: 0.25em;
}

.offcanvas .nav-link.active,
.offcanvas .nav-link:hover,
.section-nav li.active a,
.section-nav li a:hover { /* Menü linke Spalte */
    color: var(--secondary-color);
}

.nav-link.active {
    color: green !important;
    // text-transform: uppercase !important;
}

#toTop { /* ToTop-Button */
    background-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    border-left-color: var(--secondary-color);
    border-right-color: var(--secondary-color);
    border-top-color: var(--secondary-color);
}

footer .text-muted { /* Footer Links */
    color: var(--primary-color) !important;
}



// STARTING PAGE >> index.html
.single.home h1 {
    margin-left: auto;
    margin-right: auto;
}



// DOCS >> Content-Bereich
.chroma .hl { /* Code-Blocks */
    background-color: var(--secondary-color-transparent);
    border-left: 2px solid var(--secondary-color);
}

// Hintergrundfarbe für eingebundene, transparente Grafiken 
@include color-mode(dark) {
    p > img {
        background-color: white !important;
    }
}

// Grafiken, die irgendwo im Text eingebunden werden
p > img {
    display: block;
    margin: 1em auto 0;
}

// Bilder in Spaltenlayouts
.col > img {
    width: 100% !important;
    margin: 0 !important;
}

// Bilder und Bildunterschriften
img + em {
    font-size: 0.7em !important;
    text-align: center !important;
}

// Links
a.link {
    color: var(--secondary-color);
    text-decoration: none;
}

// Bettermarks-Links in Aufgaben
a.bettermarks-link {
    text-decoration: none !important;
    line-height: 1.5em !important;
    // border: 1px solid var(--secondary-color);
    // padding: 0.25em 0.5em 0.4em 0.5em;
    img {
        height: 1em;
        margin-top: -0.1em;
        margin-right: -0.2em;
    }
    span {
        font-size: 0.9em;
    }
}

// Bettermarks-Logo in Aufgaben
.jobs-title > img {
    display: inline-block !important;
    margin: 0 !important;
    width: 3em !important;
    height: 1em !important;
}

// Zitate
blockquote {
    margin: 2em 1.5em 0 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left-color: var(--callout-question) !important;
    color: var(--callout-question) !important;
    line-height: 1.4em !important;
    font-size: 1.2em;

    p {
        margin-bottom: 0;

        &:first-of-type {
            quotes: '\201C' '\201D' '\2018' '\2019';

            &::before {
                content: open-quote;
                font-size: 1em;
                font-weight: 900;
                padding-top: 3em;
                margin-right: 0.1rem;
            }

            &::after {
                content: close-quote;
                font-size: 1em;
                font-weight: 900;
            }
        }

        &:last-of-type {
            quotes: '\201C' '\201D' '\2018' '\2019';
            font-style: italic;
            font-size: 0.8em;

            &::before {
                content: "\2014\00a0";
                white-space: pre;
                margin-left: 0.1rem;
                font-style: normal;
            }
        }

        // In case of a quote without a source.
        &:only-of-type {
            font-style: normal;
            quotes: '\201C' '\201D' '\2018' '\2019';
            line-height: 1.4em !important;
            font-size: 1em;

            &::before {
               content: open-quote;
               margin-right: 0.1rem;
            }

            &::after {
                content: close-quote;
                margin-left: 0.1rem;
            }
        }
    }
}

// katex-Anpassungen
.katex-display > .katex {
    white-space: normal;
}
/* Add space between broken lines: */
.katex-display > .base {
    margin: 0.25em 0;
}
/* Compensate by reducing space around display math */
.katex-display {
    margin: 0.5em 0;
}

// Shortcodes: Callouts
.callout-jobs, .callout-job {
    border-left-width: 0 !important;
}

// Überschrift in Callouts
.callout-title > p {
    margin-top: 0.15em;
    margin-bottom: 0 !important;
}

.callout-title img {
    height: 1.4em !important;
    margin-top: -0.2em !important;
}

// Callout: box-important (Achtung)
.callout.callout-caution {
    border-color: var(--callout-caution-transparent);
    background-color: var(--callout-caution-transparent);
    position: relative;
    .callout-title {
        color: var(--callout-caution);
    }
    .callout-icon {
        background-color: var(--callout-caution);
    }
}

// ungenutzer Callout
.callout.callout-danger {
    border-color: var(--callout-danger-transparent);
    background-color: var(--callout-danger-transparent);
    position: relative;
    .callout-title {
        color: var(--callout-danger);
    }
    .callout-icon {
        background-color: var(--callout-danger);
    }
}

// Callout: box-notice (Sicherung)
.callout.callout-important {
    border-color: var(--callout-important-transparent);
    background-color: var(--callout-important-transparent);
    position: relative;
    .callout-title {
        color: var(--callout-important);
    }
    .callout-icon {
        background-color: var(--callout-important);
    }
}

// Callout: Aufgabe
.callout.callout-job {
    position: relative;
    margin-top: 3em !important;
    padding: 0.5em !important;
    border-color: var(--callout-job);
    border-top: 1px solid #e9ecef;
    background-color: white;
    .callout-title {
        color: var(--callout-job);
    }
}

// Callout: box-question (Wusstest du?)
.callout.callout-question {
    border-color: var(--callout-question-transparent);
    background-color: var(--callout-question-transparent);
    position: relative;
    .callout-title {
        color: var(--callout-question);
    }
    .callout-icon {
        background-color: var(--callout-question);
    }
}

// Callout: box-example (Beispiel)
.callout.callout-example {
    border-color: var(--callout-example-transparent);
    background-color: var(--callout-example-transparent);
    position: relative;
    .callout-title {
        color: var(--callout-example);
    }
    .callout-icon {
        background-color: var(--callout-example);
    }
    .callout-icon > svg {
        stroke: white !important;
    }
}

// Allgemeine Anpassungen in Callouts
.callout-jobs, .callout-content, .callout-body, .two-columns, .three-columns, .one-column {
    width: 100% !important;
}

.callout-jobs .callout-body {
    margin-top: 0 !important;
}

.one-column + .enum-alph, .one-column + .enum-arabic {
    margin-top: -1em !important;
}

// Spaltenlayouts in Callouts
.callout-body > .one-column li {
    float: left;
    width: 100%;
}

.callout-body > .two-columns li {
    float: left;
    width: 50%;
}

.callout-body > .three-columns li {
    float: left;
    width: 33.33%;
}

.callout-body p:has(+ ol) {
    padding-bottom: 0.5em !important;
}

// Callout: Aufgabe
.callout-job > .callout-content > .callout-title {
    visibility: hidden;
    display: none;
}

.callout-job .callout-body p {
    margin: 0 !important;
}

.callout.callout-job::before {
    content: "Aufgabe:";
    font-weight: 600;
    color: var(--callout-job);
    position: absolute;
    left: 0.5em;
    top: -1.5em;
}

// Hintergrundfarbe für Callout: Aufgabe im dunklen Modus
@include color-mode(dark) {
    .callout.callout-jobs {
        background-color: #17181c;
    }
}

// Hintergrundfarbe für Callout: Aufgabe im hellen Modus
@include color-mode(light) {
    .callout.callout-jobs {
        background-color: white;
    }
}

// Callout: Aufgabe
.callout.callout-jobs {
    position: relative;
    margin: 2.5em 0 !important;
    padding: 0 !important;
    .callout-title {
        color: var(--callout-job);
    }
}

.callout-jobs .callout-body {
    padding: 0.5em;
}

.callout-jobs .callout-body p {
    margin: 0 !important;
}

.callout.callout-jobs > .callout-content > .callout-body > ol {
    font-weight: 700 !important;
    // margin: 0 0 0 1.25em !important;
    margin: 0 !important;
    padding: 0 !important;
}

.callout-jobs > .callout-content > .callout-title {
    border-bottom: 1px solid var(--line-color);
    position: relative;
    padding: 0.25em 0.5em;
}

.callout-jobs > .callout-content > .callout-title p {
    margin: 0 !important;
    padding: 0 !important;
}

// Counter für Callout: Aufgabe
span.jobs-counter {
    background-color: var(--callout-job);
    color: white;
    padding: 0 0.25em 0.1em 0.25em;
    margin: 0 0.5em;
}

span.jobs-title {
    color: var(--secondary-color);
    font-weight: 300;
}

// Shortcode: solution (Lösungen)
details.solution {
    margin-top: -1em;
    margin-bottom: 3em !important;
}

details.solution:has(+ h1), details.solution:has(+ h2), details.solution:has(+ h3) { // if a solution is followed by a heading
    margin-bottom: 5em !important;
}

// Abstand vor Callouts
.callout {
    margin-top: 2em !important;
}

.callout-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1em, -50%);
    width: 2em !important;
    height: 2em !important;
    stroke: white !important;
    padding: 0 !important;
    align-items: center;
    line-height: 1em;
}

.callout-icon > svg {
    transform: translate(0, 0);
    stroke: white !important;
    width: 2em !important;
    height: 2em !important;
    margin: 0 !important;
    padding: 0.1em !important;
}

// Callout: box-note (Hinweis)
.callout.callout-note {
    border-color: var(--callout-note-transparent);
    background-color: var(--callout-note-transparent);
    position: relative;
    .callout-title {
        color: var(--callout-note);
    }
    .callout-icon {
        background-color: var(--callout-note);
    }
}

// Quellenangaben in Callouts
.callout:has(+ .source) {
    margin-bottom: 0 !important;
}

.source {
    margin-bottom: 3em !important;
    font-size: 0.65em;
    color: var(--primary-color);
    text-align: right;
}

.job-notice {
    font-size: 0.6em;
    color: var(--callout-job);
    margin-left: 2em;
    margin-top: 0.5em;
    display: block;
}

.job-notice::before {
    content: "\2192";
    margin-right: 0.5em;
}



// Shortcode: situation & szenario
@include color-mode(dark) {
    .situation {
        color: var(--secondary-color);
        border-left: 3px solid var(--secondary-color);
    }
    .situation-title {
        color: var(--secondary-color);
    }
}

.situation {
    color: var(--situation);
	width: 90%;
	overflow: hidden;
	margin: 3em auto 0em;
    padding: 1em 1.5em 1.5em 1.5em;
    font-size: 1.25em;
    text-transform: uppercase;
	position: relative;
    border-left: 3px solid var(--situation);
}

.situation-title {
    color: var(--situation);
	width: max-content;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
    height: auto;
}

.szenario {
    --b: 2px;   /* thickness of the border */
    --c: var(--szenario);   /* color of the border */
    --w: 15%;  /* width of border */
    --h: 20%;  /* width of border */
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--h) border-box no-repeat;
    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  
    box-sizing: border-box;
    position: relative;
    width: 90%;
    margin: 5em auto 3em;
    padding: 2em 2.5em;
    font-size: 1.1em;
}

.szenario-title {
    position: absolute;
    display: inline-block;
    font-size: 0.75em;
    color: var(--szenario);
    text-transform: uppercase;
    left: 50%;
    top: 0;
    z-index: 9999;
    width: max-content;
    height: auto;
    transform: translate(-50%,-50%);
}

// details
details summary {
    font-weight: 400;
}

// lists
ol {
    padding-left: 0;
    margin-left: 1em;
}

ol.breadcrumb, ol.breadcrumb li {
    margin-left: 0 !important;
}

ol li, ul li {
    margin: 0.125rem 0 !important;
    line-height: 1.3em !important;
}

ul {
    list-style-type: square;
}

ul li::marker, ol li::marker {
    color: var(--primary-color) !important;
    font-weight: 500 !important;
}

// Listen in Callouts
.callout.callout-job > .callout-content > .callout-body > ol, .callout.callout-job > .callout-content > .callout-body > ul {
    margin: 0 !important;
    padding: 0 !important;
}

.callout-body .enum-alph ol, .callout-body .enum-alph ul {
    padding-left: 0.5em !important;
    margin-left: 1em !important;
}

.callout-body .enum-arabic ul {
    list-style-type: decimal !important;
}

.callout-body .enum-alph li {
    list-style: none;
    position: relative;
    margin: 0.125em 0 !important;
    padding-left: 0.5em !important;
}

.callout-body .enum-alph li::before {
    position: absolute;
    left: -1em;
    top: 0;
    width: 1em;
    line-height: 1.3em !important;
    content: counter(list-item, lower-alpha) ") " !important;
    color: var(--primary-color) !important;
    font-weight: 500 !important;
}

.callout-body .enum-alph .bettermarks li::before {
    top: .125em !important;
}

.no-enum {
    list-style-type: none !important;
}

.solution ul, .solution ol {
    padding-left: 0.5em !important;
    margin-left: 1em !important;
}

.solution .enum-arabic ul, .solution .enum-arabic ol {
    list-style-type: decimal !important;
}

.solution .enum-alph ul, .solution .enum-alph ol {
    list-style-type: none !important;
}

.solution .enum-alph li {
    list-style: none !important;
    position: relative;
}

.solution .enum-alph li::before {
    position: absolute;
    left: -1em;
    top: 0;
    width: 1em;
    line-height: 1.3em !important;
    content: counter(list-item, lower-alpha) ") " !important;
    color: var(--primary-color) !important;
    font-weight: 500 !important;
}

li::before + .katex-display {
    top: 1em !important;
}






.page-nav {
    justify-content: space-between !important;
    // border-top: 1px solid #dedede;
}

.page-nav .card { /* Vor- und Zurück-Buttons */
    margin-top: 1em;
    width: max-content !important;
}

.page-nav .card-body {
    width: max-content;
    font-size: 0.8em;
    line-height: 1.6em;
    padding: 0.5em 1em;
    vertical-align: middle !important;
}

.page-nav .card, .page-nav .text-body-secondary { /* Vor- und Zurück-Buttons */
    color: #aaa !important;
    border-color: #aaa;
}

.page-nav .text-body-secondary {
    height: 0;
    visibility: hidden;
}

.page-nav .card:hover, .page-nav .card:hover .text-body-secondary { /* Vor- und Zurück-Buttons */
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.footnotes {
    margin-top: 50px !important;
}

// BLOG-LAYOUT >> single.html & list.html
.blog-header p {
    font-size: 0.9em;
}

.blog-header > p::before, .blog-header > p::after { /* Linien vor und nach Datum und Lesezeit */
    width: 40%;
    margin: 10px auto;
    height: 1px;
    display: block;
    content: "";
    background-color: #cdcdcd;
}

.card-body > article > p > small { /* Linien vor und nach Datum und Lesezeit */
    width: 50%;
    display: inline-block;
    border-top: 1px solid #cdcdcd;
    padding-top: 5px;
}

.card-body > article > p:first-of-type { /* Linien vor und nach Datum und Lesezeit */
    margin-bottom: 30px;
}

.img-post-single, .card > img { /* Bild im Verhältnis 2:1 (B:H) */
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.img-post-single { /* Abstand nach Bild */
    padding-bottom: 50px;
}

main ol, main ul {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

main ol > li > ol, main ul > li > ul {
    margin-top: 0 !important;
    margin-bottom: 0.25em !important;
}

ol.breadcrumb {
    margin-top: 2.75em !important
}

.blog-header > h1 {
    box-shadow: none;
    width: 100%;
}

.lead {
    padding-bottom: 2em;
    margin-bottom: 4em;
    padding-top: 2em;
    position: relative;
}
